manifest {
    homePage = 'https://github.com/iarcbioinfo/NGSCheckMate-nf'
    description = 'Nextflow pipeline to detect matched BAMs with NGSCheckMate'
    mainScript = 'NGSCheckMate.nf'
}

profiles {

    local {
        process.executor = 'local'
    }

    cobalt {
        env {
            TMPnf = "$CCCSCRATCHDIR"
        }

        executor.name = 'slurm'
        executor.queueSize = 100
		
		process.queue = 'broadwell'
        process.cache = 'lenient'
		
		process {
			withName: BCFTOOLS_calling {
				module = 'extenv/fg:samtools/1.9:bcftools/1.9'
			}
        }
    }

    jupiter {
        env {
            TMPnf = '/tmp'
        }

        executor.name = 'lsf'
        executor.queueSize = 50
		executor.perJobMemLimit = true
	}

    pioneer {
        env {
            TMPnf = '/tmp'
        }

        executor.name = 'slurm'
	}

}

