manifest {
    homePage = 'https://github.com/iarcbioinfo/NGSCheckMate-nf'
    description = 'Nextflow pipeline to detect matched BAMs with NGSCheckMate'
    mainScript = 'NGSCheckMate.nf'
}

profiles {
    local {
        process.executor = 'local'
    }

    conda { 
	process.conda = "$baseDir/environment.yml" 
	conda.createTimeout = "200 min"
	}

    docker {
    docker.enabled = true 
    process.container = 'iarcbioinfo/ngscheckmate-nf:v1.1'
    }

    singularity {
    singularity.enabled = true 
    process.container = 'shub://IARCbioinfo/NGSCheckMate-nf:v1.1'
    pullTimeout = "200 min"
    }
}

params.output_folder="."

timeline {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/NGSCheckmate_timeline.html"
}

report {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/NGSCheckmate_report.html"
}

trace {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/NGSCheckmate_trace.txt"
}

dag {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/NGSCheckmate_dag.html"
}
